#################
## guestifyapp ##
#################

/guestifyapp/app/Config/db_config.json

/guestifyapp/app/tmp/cache/*
!/guestifyapp/app/tmp/cache/empty

/guestifyapp/app/tmp/cache/models/*
!/guestifyapp/app/tmp/cache/models/empty

/guestifyapp/app/tmp/cache/persistent/*
!/guestifyapp/app/tmp/cache/persistent/empty

/guestifyapp/app/tmp/cache/sessions/*
!/guestifyapp/app/tmp/cache/sessions/empty

/guestifyapp/app/tmp/cache/tests/*
!/guestifyapp/app/tmp/cache/tests/empty

/guestifyapp/app/tmp/logs/*
!/guestifyapp/app/tmp/logs/empty

/guestifyapp/app/files/exports_excel/*
!/guestifyapp/app/files/exports_excel/empty
/guestifyapp/app/files/*
!/guestifyapp/app/files/empty

/guestifyapp/app/webroot/img/hosts/*
!/guestifyapp/app/webroot/img/hosts/empty

/guestifyapp/app/webroot/img/qrcodes/*
!/guestifyapp/app/webroot/img/qrcodes/empty

/guestifyapp/app/webroot/img/temp/*
!/guestifyapp/app/webroot/img/temp/empty


#################
## feedbackapp ##
#################

/feedbackapp/app/tmp/cache/*
!/feedbackapp/app/tmp/cache/empty

/feedbackapp/app/tmp/cache/models/*
!/feedbackapp/app/tmp/cache/models/empty

/feedbackapp/app/tmp/cache/persistent/*
!/feedbackapp/app/tmp/cache/persistent/empty

/feedbackapp/app/tmp/cache/sessions/*
!/feedbackapp/app/tmp/cache/sessions/empty

/feedbackapp/app/tmp/cache/tests/*
!/feedbackapp/app/tmp/cache/tests/empty

/feedbackapp/app/tmp/logs/*
!/feedbackapp/app/tmp/logs/empty


#################
## apiapp ##
#################

/apiapp/app/tmp/cache/*
!/apiapp/app/tmp/cache/empty

/apiapp/app/tmp/cache/models/*
!/apiapp/app/tmp/cache/models/empty

/apiapp/app/tmp/cache/persistent/*
!/apiapp/app/tmp/cache/persistent/empty

/apiapp/app/tmp/cache/sessions/*
!/apiapp/app/tmp/cache/sessions/empty

/apiapp/app/tmp/cache/tests/*
!/apiapp/app/tmp/cache/tests/empty

/apiapp/app/tmp/logs/*
!/apiapp/app/tmp/logs/empty

/apiapp/app/files/*
!/apiapp/app/files/empty

/apiapp/app/files/excel_exports/*
!/apiapp/app/files/excel_exports/empty

/apiapp/app/webroot/img/hosts/*
!/apiapp/app/webroot/img/hosts/empty

/apiapp/app/webroot/img/qrcodes/*
!/apiapp/app/webroot/img/qrcodes/empty

/apiapp/app/webroot/img/temp/*
!/apiapp/app/webroot/img/temp/empty


#################
##  widgetapp  ##
#################

/widgetapp/app/tmp/cache/*
!/widgetapp/app/tmp/cache/empty

/widgetapp/app/tmp/cache/models/*
!/widgetapp/app/tmp/cache/models/empty

/widgetapp/app/tmp/cache/persistent/*
!/widgetapp/app/tmp/cache/persistent/empty

/widgetapp/app/tmp/cache/sessions/*
!/widgetapp/app/tmp/cache/sessions/empty

/widgetapp/app/tmp/cache/tests/*
!/widgetapp/app/tmp/cache/tests/empty

/widgetapp/app/tmp/logs/*
!/widgetapp/app/tmp/logs/empty


### general inclusion of empty file
!*/empty


# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.directory


# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

