.widget_wrapper { background-color: #fff; border: 1px #46b8da solid; }
/*header {  background-color: #46b8da;}*/

header {
    background: #46b8da;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #46b8da, #46b8da);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #46b8da, #46b8da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
footer { color: #fff; }

.host_area { background-color: #4AA4BE; }	
.hostname { color: #fff; }

.statistics .statsbar { background: #efefef; }
.statistics .statsbar .box { color: #666; }
.statistics .statsbar .box small { color: #999;}
.statistics .statsbar .box1 { border-right: 1px #fff solid; }
.statistics .statsbar .box2 { border-right: 1px #fff solid; }

.comment_bulb { background-color: #efefef; color: #666;  }
.comment_bulb .gsi_small { background-color: #333; border: 1px #38798C solid; color: #fff; }

table.trend-table tr td { background-color: #efefef; border-right: 1px #fff solid; }
table.trend-table tr td span { background-color: #46b8da;  }
